<app-loader *ngIf="isShowLoader">
</app-loader>


<div id="backend-users" class="row">
  <div class="col-md-12 col-sm-12">
    <div class="portlet light bordered">

      <div class="portlet-title">
        <div class="caption font-dark float-l">
          <i class="fa fa-users"></i>
          <span class="caption-subject font-blue bold" style="font-size: 16px;">Organization Users</span>
        </div>
      </div><br>
      <br>
      <div class="row d-flex">
        <div class="col-sm-6 align-items-end">
          <div class="row">
            <div class="col-sm-6">
              <label class="toggle-switch">
                <input type="checkbox" (click)="onShowActiveOnly()" [ngClass]="{ checked: isShowActiveOnly }" checked>
                <span class="slider"></span>
              </label>&nbsp;
              <span style="font-size: 15px;">Show Active Only</span>
            </div>

            <div class="col-sm-6 align-items-end" *ngIf="loggedInUserRole=='SuperAdmin'">
              <label class="dg-lable" for="organisation"> Organization : </label>
              <select name="as-organisation" (change)="onSelectedOrg($event)"
                [(ngModel)]="organisationUserModel.orgIntID" class="form-control input-sm" name="userOrganisation">
                <option value="0" selected>All</option>
                <option *ngFor="let organisations of OrganisationList" [value]="organisations.orgId">
                  {{organisations.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-6 align-items-end">
          <div class="row">
            <div class="col-sm-6 align-items-end">
              <div class="input-group">
                <input type="search" class="form-control" [formControl]="searchControl" placeholder="Search"
                  aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text" (click)="Search()"><i class="fa fa-search"></i></span>
              </div>
            </div>

            <div class="col-sm-6 align-items-end">
              <div class="actions action-c">
                <span (click)="exportAsXLSX()" style="color:green!important;" tooltip="Export to Excel" placement="top"
                  show-delay="500"><i class="fa fa-file-excel-o fa-lg"></i></span>
                <span (click)="Refresh()" style="color:green!important;cursor: pointer;padding-left: 15px;"
                  tooltip="Refresh" placement="top" show-delay="500"><i
                    class="fa fa-refresh  fa-lg"></i></span>&nbsp;&nbsp;&nbsp;
                <a id="btn-add-property" (click)="AddUsers()">
                  <i class="fa fa-plus-circle"></i> Add User
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="portlet-body">
        <div class="mt-element-card mt-card-round" style="margin-top: 20px">
          <div class="row">
            <div id="row-scrollable" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Organization</th>
                    <th>Branch</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!isShowLoader && tbldata==null" class="no-records">
                    <td colspan="10">No Records Found</td>
                  </tr>

                  <tr *ngFor="let organisationUser of tbldata; let index = index">
                    <td>{{ organisationUser.firstName }}</td>
                    <td>{{ organisationUser.lastName }}</td>
                    <td>{{ organisationUser.phone }}</td>
                    <td>{{ organisationUser.email }}</td>
                    <td>{{ organisationUser.organisationName }}</td>
                    <td>{{ organisationUser.branchName }}</td>
                    <td>{{ organisationUser.role }}</td>
                    <td>

                      <span (click)="onActiveInActive(organisationUser)"
                        [ngClass]="{ checked: organisationUser.isActive }" class="dg-checkbox"
                        for="isOrganisationUserActive"></span>

                    </td>
                    <td>
                      <i (click)="onEditUser(organisationUser)" class="fa fa-pencil"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- <mat-paginator [pageIndex]="page" [length]="tbldataLength" [pageSize]="25"
                (page)="onChangePage($event)"></mat-paginator> -->
              <div class="paginator-container">
                <span id="paginator-message1" style="color:rgba(0,0,0,.54);font-size: 13px;" class="paginator-message">
                  Total items: {{this.tbldataLength}}
                </span>
                <span id="paginator-message2" style="color:rgba(0,0,0,.54);font-size: 13px;" class="paginator-message">
                  Items per page: 25
                </span>
                <mat-paginator [pageIndex]="page" [length]="tbldataLength" [pageSize]="1" (page)="onChangePage($event)"
                  aria-describedby="paginator-message1 paginator-message2"></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>







<!-- 
POP UP FOR Organisation-User Register -->
<div class="modal fade" id="add-mode-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-c">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title modal-title-c">{{label}}</h4>
      </div>
      <div class="modal-body">
        <div [ngClass]="{ loader: isShowLoader }" id="signup-container">
          <form class="login-f">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="dg-lable" for="userRole">User Role:</label>
                  <select name="as-userRole" [(ngModel)]="organisationUserModel.roleIntID" class="form-control"
                    name="userRole" (change)=" onOptionsSelectedRole($event)">
                    <option value="" selected>Please Select Role</option>
                    <option *ngFor="let role of UserRoles" [value]="role.roleIntID">
                      {{ role.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-6" *ngIf="loggedInUserRole=='SuperAdmin'">
                <div class="form-group">
                  <label class="dg-lable" for="organisation">Organization Name:</label>
                  <select name="as-organisation" (change)="onOptionsSelected($event)"
                    [(ngModel)]="organisationUserModel.orgIntID" class="form-control" name="userOrganisation">
                    <option value="" selected>Please Select Organization</option>
                    <option *ngFor="let organisations of OrganisationList" [value]="organisations.orgId">
                      {{organisations.name}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-6" *ngIf="this.selectedRoleId != 7">
                <div class="form-group">
                  <label class="dg-lable" for="stateId"> Branch State:</label>
                  <select name="as-stateId" placeholder="State" [(ngModel)]="organisationUserModel.stateId"
                    class="form-control" name="state" (change)="onOptionsSelectedState($event)">
                    <option value="" selected>Please Select State</option>
                    <option *ngFor="let state of State" [value]="state.id">
                      {{ state.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-6" *ngIf="this.selectedRoleId != 7">
                <div class="form-group">
                  <label class="dg-lable" for="cityId">Branch
                    District:</label>
                  <select name="as-cityId" placeholder="City" [(ngModel)]="organisationUserModel.cityId"
                    class="form-control" name="city" (change)="onOptionsSelectedCity($event)">
                    <option value="" selected>Please Select District</option>
                    <option *ngFor="let city of City" [value]="city.id">
                      {{ city.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-6" *ngIf="this.selectedRoleId != 7">
                <div class="form-group">
                  <label class="dg-lable" for="branch">Branch Name:</label>
                  <select name="as-branch" [(ngModel)]="organisationUserModel.branchIntID" class="form-control"
                    name="userbranch">
                    <option value="" selected>Please Select Branch</option>
                    <option *ngFor="let branch of Branch" [value]="branch.branchId">
                      {{ branch.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="dg-lable">First Name:</label>
                  <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input [(ngModel)]="organisationUserModel.firstName" name="firstName" type="text"
                      class="form-control" autocomplete="off" placeholder="First Name" />
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="dg-lable">Last Name:</label>
                  <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input [(ngModel)]="organisationUserModel.lastName" name="lastName" type="text" class="form-control"
                      autocomplete="off" placeholder="Last Name" />
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="dg-lable">Email:</label>
                  <div class="input-icon">
                    <i class="fa fa-envelope-o"></i>
                    <input [(ngModel)]="organisationUserModel.email" name="email" type="email" autocomplete="off"
                      class="form-control" placeholder="Email" />
                  </div>
                </div>
              </div>



              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="dg-lable" for="UserStateId">User State:</label>
                  <select name="as-UserStateId" placeholder="User State" [(ngModel)]="organisationUserModel.UserStateId"
                    class="form-control" name="selectedstate" (change)="onOptionsUserSelectedState($event)">
                    <option value="" selected>Please Select State</option>
                    <option *ngFor="let state of State" [value]="state.id">
                      {{ state.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="dg-lable" for="UserCityId">User District:</label>
                  <select name="as-UserCityId" placeholder="User City" [(ngModel)]="organisationUserModel.UserCityId"
                    class="form-control" name="selectedcity">
                    <option value="" selected>Please Select District</option>
                    <option *ngFor="let city of UserCity" [value]="city.id">
                      {{ city.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="dg-lable">Phone:</label>
                  <div class="input-icon">
                    <i class="fa fa-phone"></i>
                    <input id="TxtPhoneNumber" maxlength="10" minlength="10" [(ngModel)]="organisationUserModel.phone"
                      name="phone" class="form-control" class="form-control" type="text" autocomplete="off"
                      placeholder="Phone" />
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="dg-lable">Password:</label>
                  <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input [(ngModel)]="organisationUserModel.password" name="password" type="password"
                      class="form-control" autocomplete="off" placeholder="Password" />
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="dg-lable">Confirm Password:</label>
                  <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input [(ngModel)]="organisationUserModel.confirmPassword" name="confirmPassword"
                      class="form-control" type="password" autocomplete="off" placeholder="Confirm Password" />
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label class="dg-lable">User Role</label>
              <label class="form-control placeholder-no-fix input-s">{{registerUserRole}}</label>
            </div>
          </div> -->
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn green" (click)="registerUser()">
            {{Savedlabel}}
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>