<!-- <a *ngIf="isShowDownloadLink" href="https://diginoticeapp.page.link/Zi7X" target="blank" class="mobileappFloat">
  <b>Download mobile app</b>
</a>
<app-loader *ngIf="isShowLoader"></app-loader> -->

<div class="app-body" style="background-color: black;">
  <div class="reset-password-container">
    <div class="card-header">
      <h4 style="color:#ffffff; font-weight:700; padding: 20px;">
        <i class="fa fa-key"> </i>&nbsp;Forgot Password
      </h4>
    </div>
    <div class="reset-password-box">

      <!-- <p>Reset Password Link</p> -->
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="login-f">
        <div class="form-group">
          <!-- <label class="dg-lable" for="email">Email:</label> -->
          <input formControlName="email" name="email" class="form-control placeholder-no-fix input-s" type="text"
            autocomplete="off" placeholder="Enter Email" />
        </div>
        <div class="form-actions form-actions-c row">
          <div class="col-md-7">
            <button [disabled]="isShowLoader || disableGetResetLink" type="submit" class="btn red btn-block sgin-btn">
              Get Reset Password Link
            </button>
          </div>
          <div class="col-md-5">
            <!-- <button [disabled]="isShowLoader || disableGetResetLink" type="submit"
            class="btn red btn-block uppercase sgin-btn">
            Back to Login
          </button> -->
            <a class="btn red btn-block sgin-btn" routerLink="/login"><i
                class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;Back
              to Login</a>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- <div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row marginComponent">
        <div class="col-md-6 mx-auto">
          <div class="card mb-0 shadow-lg mx-4">
            <div class="card-header">
              <h4 style="color:#fff; font-family:'Lato'; font-weight:800; padding: 10px;">
                <i class="fa fa-key"> </i>&nbsp;Forgot Password
              </h4>
            </div>  
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="login-f">
              <div class="form-group">
                <label class="dg-lable" for="email">Email:</label> 
                <input formControlName="email" name="email" class="form-control placeholder-no-fix input-s" type="text"
                  autocomplete="off" placeholder="Email" />
              </div>
              <div class="form-actions form-actions-c">
                <button [disabled]="isShowLoader || disableGetResetLink" type="submit"
                  class="btn red btn-block uppercase sgin-btn">
                  Get Reset Password Link
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div> -->