<app-loader *ngIf="isShowLoader"></app-loader>
<!-- BEGIN PAGE BAR -->
<!-- <div class="page-bar page-W">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a>Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <i class="fa fa-newspaper-o"></i>
      <span>Ads/Banner Master</span>
    </li>
  </ul>
</div> -->
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<!-- <h3 class="page-title"> Ads/Banner Master
  <small>Control panel</small>
</h3> -->
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="row">
  <div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet light bordered">
      <div class="portlet-title">   
        <div class="caption font-dark float-l">
          <i class="icon-settings font-dark"></i>
          <span class="caption-subject bold uppercase"> Ads/Banner Master </span>        
       
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">  
                <!-- <span>
                    <i class="fa fa-angle-down blue-hoki btn-circle " type="button" 
                     style="font-size:36px"></i>   
                      class="btn blue-hoki btn-outline sbold uppercase btn-circle  btn-sm"  
                    <i class="fa fa-angle-up" style="font-size:36px"></i>  
                </span> -->
                <span>
              <input type="button" (click)="OnAddAdBanner()" value="Add New +"
              class="btn blue-hoki btn-outline sbold uppercase btn-circle  btn-sm" />   
            </span>      
          </div>
        </div>
      </div>
      <div class="portlet-body">
        <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
          <div class="row">           
          </div>
          <div class="table-scrollable">
            <table
              class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer"
              id="sample_1" role="grid" aria-describedby="sample_1_info">
              <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                    aria-sort="ascending" aria-label=" Username : activate to sort column descending"
                    style="width: 100px;"> Username </th>
                  <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                    aria-label=" Email : activate to sort column ascending" style="width: 100px;"> Ad Banner Url </th>
                  <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                    aria-label=" Points : activate to sort column ascending" style="width: 100px;"> Date </th>
                  <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                    aria-label=" Joined : activate to sort column ascending" style="width: 100px;"> AdBanner Type </th>
                    <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                    aria-label=" Status : activate to sort column ascending" style="width: 148px;"> Order </th>
                  <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                    aria-label=" Status : activate to sort column ascending" style="width: 148px;"> Image </th>
                    <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1"
                    aria-label=" Status : activate to sort column ascending" style="width: 148px;"> Action </th>
                </tr>
              </thead>
             <tbody>
                  <tr  *ngFor="let adBanner of adBannerList; let index = index;" >                    
                      <!-- adBannerList -->
                      <td>{{adBanner.userName}}</td>
                      <td>{{adBanner.adUrl}}</td>
                      <td>{{adBanner.createdDate | date: 'dd-MMM-yyyy'}}</td>
                      <td *ngIf="adBanner.imageType==1">WebSite</td>
                      <td *ngIf="adBanner.imageType==2">Mobile Top</td>
                      <td *ngIf="adBanner.imageType==3">Mobile Notice</td>
                      <td *ngIf="adBanner.imageType==4">Web Notice</td>
                      <!-- <td>{{appConfig.imageAdBannerPath}}{{adBanner.imagePath}}</td>-->
                      <td>{{adBanner.rowOrder}}</td>
                      <td> 
                          <img  height="150" width="100"
                            alt="" [src]="adBanner.imagePath">                           
                        </td>
                        <td><i class="fa fa-edit" (click)="OnEditAdBanner(adBanner)" style="font-size:20px;color:#1BBC9B;padding: 5px;"></i> 
    
                          <i class="fa fa-close" (click)= "onDeleteAdBanner(adBanner)"style="font-size:20px;color:red;padding: 5px;"></i>
                                                </td>    
                                                            </tr>
             </tbody>
            </table>
          </div>     
        </div>
      </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
  </div>

</div>
  