
<div  id="add-banner-modal" tabindex="-1" role="view" aria-hidden="true" class="AdBannerModel">
    <div class="">
      <div class="">
        <!-- <div class="modal-header" style="text-align: center">
          <strong> {{AddEditLogo}}  Advertisement Banner</strong>
          <button type="button"  (click)="CloseForm()" class="close" data-dismiss="modal">X</button>
        </div> -->

        <div class="modal-header modal-header-c">
          <button type="button"  (click)="CloseForm()" class="close" data-dismiss="modal">X</button>
          <h4 class="modal-title modal-title-c">{{AddEditLogo}}  Advertisement Banner</h4>
        </div>
        <div class="modal-body">
          <mat-tab-group [selectedIndex]="tabIndex"  (selectedTabChange)="matTabSelect($event)">
            <!-- Tab for Website -->
            <mat-tab  label="Website">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-4">
                          <label class="dg-lable" for="personName">Person Name:</label>
                          <input tabindex="1" name="personName"  [(ngModel)]="AdBannerModel.userName"type="text" class="form-control input-sm"
                            placeholder="Person Name">
                        </div>
                        <div class="col-md-4" *ngIf="isShowRowOrder">
                            <label class="dg-lable" for="rowOrder">Row Order:</label>
                            <input tabindex="1" name="rowOrder"  [(ngModel)]="AdBannerModel.rowOrder"type="number" 
                            (keypress)="onKeyPressValidateNumber($event)"  min="1" (input)="onNoticePeriodInput($event,1)" class="form-control input-sm"
                              placeholder="Row Order">
                             
                          </div>
                      </div>  
                  <div class="col-md-12">
                    <div class="col-md-4">
                      <label class="dg-lable" for="imageUrl">Image Url:</label>
                      <input tabindex="1" name="imageUrl" [(ngModel)]="AdBannerModel.adUrl" type="text" class="form-control input-sm"
                        placeholder="Image Url">
                    </div>
                  </div>  
                         
                  <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="dg-lable" for="imageUrl">Select Image:</label>
                        <label style="color: red;">Recommended Image Size:1280*150</label>
                      <div id="asset-image-container" >
                          <div >
                            <div class="box">
                              <div class="js--image-preview">
                              </div>
                              <div class="upload-options">
                                <label>                                  
                                    <input #fileweb type="file" accept='image/*' (change)="previewWeb(fileweb.files)" />
                                </label>
                               
                              </div>
                            </div>
                          </div>
                        </div>
  
  
                    </div>
                  </div>
                  <span style="padding: 5px;"></span>
                  <div class="col-md-12">
                      <div class="col-md-3">
                      <img [src]="AdBannerModel.imagePath" height="300" width="500" *ngIf="AdBannerModel.imagePath">
                      </div>
                  </div>    
                </div>
                <div class="modal-footer modal-footer-c">
                    <button (click)="clearForm()" [disabled]="AddEditLogo !='Add'" type="button" class="btn btn-default">Reset Fields</button>
                    <button  (click)="onAddAdBanner(1)" type="button" class="btn btn-success bt-c">{{AddEditLogo}} AdBanner</button>
                  </div>
              </form>
            </mat-tab>
              <!-- Tab for Mobile Top -->
            <mat-tab label="Mobile Top">  
               <form class="form-horizontal" role="form"> 
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-4">
                          <label class="dg-lable" for="personName">Person Name:</label>
                          <input tabindex="1" name="personName"  [(ngModel)]="AdBannerMobTopModel.userName"type="text" class="form-control input-sm"
                            placeholder="Person Name">
                        </div>
                        <div class="col-md-4" *ngIf="isShowRowOrder">
                            <label class="dg-lable" for="rowOrder">Row Order:</label>
                            <input tabindex="1" name="rowOrder"  [(ngModel)]="AdBannerMobTopModel.rowOrder"type="number" 
                            (keypress)="onKeyPressValidateNumber($event)"  min="1"  (input)="onNoticePeriodInput($event,2)" class="form-control input-sm"
                              placeholder="Row Order">
                             
                          </div>
                      </div>  
                  <div class="col-md-12">
                    <div class="col-md-4">
                      <label class="dg-lable" for="imageUrl">Image Url:</label>
                      <input tabindex="1" name="imageUrl" [(ngModel)]="AdBannerMobTopModel.adUrl" type="text" class="form-control input-sm"
                        placeholder="Image Url">
                    </div>
                  </div>  
                         
                  <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="dg-lable" for="imageUrl">Select Image:</label>
                        <label style="color: red;">Recommended Image Size:1737*677</label>
                      <div id="asset-image-container" >
                          <div >
                            <div class="box">
                              <div class="js--image-preview">
                              </div>
                              <div class="upload-options">
                                <label>                                  
                                    <input #fileMobTop type="file" accept='image/*' (change)="previewMolieTop(fileMobTop.files)" />
                                </label>
                               
                              </div>
                            </div>
                          </div>
                        </div>
  
  
                    </div>
                  </div>
                  <span style="padding: 5px;"></span>
                  <div class="col-md-12">
                      <div class="col-md-3">
                      <img [src]="imgURLMobTop" height="300" width="500" *ngIf="imgURLMobTop">
                      </div>
                  </div>    
                </div>
                <div class="modal-footer modal-footer-c">
                    <button (click)="clearForm()"  [disabled]="AddEditLogo !='Add'"type="button" class="btn btn-default">Reset Fields</button>
                    <button  (click)="onAddAdBanner(2)" type="button" class="btn btn-success bt-c">{{AddEditLogo}} AdBanner</button>
                  </div>
              </form> 
             </mat-tab>

              <!-- Tab for Mobile With Notices -->
            <mat-tab   label="Mobile Between Notices"> 
                <form class="form-horizontal" role="form"> 
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-4">
                          <label class="dg-lable" for="personName">Person Name:</label>
                          <input tabindex="1" name="personName"  [(ngModel)]="AdBannerMobNtcModel.userName"type="text" class="form-control input-sm"
                            placeholder="Person Name">
                        </div>
                        <div class="col-md-4" *ngIf="isShowRowOrder">
                            <label class="dg-lable" for="rowOrder">Row Order:</label>
                            <input tabindex="1" name="rowOrder"  [(ngModel)]="AdBannerMobNtcModel.rowOrder"type="number" 
                            (keypress)="onKeyPressValidateNumber($event)"  min="1"  (input)="onNoticePeriodInput($event,3)" class="form-control input-sm"
                              placeholder="Row Order">
                             
                          </div>
                      </div>  
                  <div class="col-md-12">
                    <div class="col-md-4">
                      <label class="dg-lable" for="imageUrl">Image Url:</label>
                      <input tabindex="1" name="imageUrl" [(ngModel)]="AdBannerMobNtcModel.adUrl" type="text" class="form-control input-sm"
                        placeholder="Image Url">
                    </div>
                  </div>  
                         
                  <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="dg-lable" for="imageUrl">Select Image:</label>
                        <label style="color: red;">Recommended Image Size:----</label>
                      <div id="asset-image-container" >
                          <div >
                            <div class="box">
                              <div class="js--image-preview">
                              </div>
                              <div class="upload-options">
                                <label>                                  
                                    <input #fileMobNtc type="file" accept='image/*' (change)="previewMolieNtc(fileMobNtc.files)" />
                                </label>
                               
                              </div>
                            </div>
                          </div>
                        </div>
  
  
                    </div>
                  </div>
                  <span style="padding: 5px;"></span>
                  <div class="col-md-12">
                      <div class="col-md-3">
                      <img [src]="imgURLMobNtc" height="300" width="500" *ngIf="imgURLMobNtc">
                      </div>
                  </div>    
                </div>
                <div class="modal-footer modal-footer-c">
                    <button (click)="clearForm()"[disabled]="AddEditLogo !='Add'" type="button" class="btn btn-default">Reset Fields</button>
                    <button  (click)="onAddAdBanner(3)" type="button" class="btn btn-success bt-c">{{AddEditLogo}} AdBanner</button>
                  </div>
              </form>  
            </mat-tab>

            <mat-tab label="Website Between Notices">  
                <form class="form-horizontal" role="form"> 
                 <div class="form-group">
                     <div class="col-md-12">
                         <div class="col-md-4">
                           <label class="dg-lable" for="personName">Person Name:</label>
                           <input tabindex="1" name="personName"  [(ngModel)]="AdBannerWebNtcModel.userName"type="text" class="form-control input-sm"
                             placeholder="Person Name">
                         </div>
                         <div class="col-md-4" *ngIf="isShowRowOrder">
                             <label class="dg-lable" for="rowOrder">Row Order:</label>
                             <input tabindex="1" name="rowOrder"  [(ngModel)]="AdBannerWebNtcModel.rowOrder"type="number" 
                             (keypress)="onKeyPressValidateNumber($event)"  min="1"   max="{{MaxRowOrderByType}}" (input)="onNoticePeriodInput($event,4)" class="form-control input-sm"
                               placeholder="Row Order">
                              
                           </div>
                       </div>  
                   <div class="col-md-12">
                     <div class="col-md-4">
                       <label class="dg-lable" for="imageUrl">Image Url:</label>
                       <input tabindex="1" name="imageUrl" [(ngModel)]="AdBannerWebNtcModel.adUrl" type="text" class="form-control input-sm"
                         placeholder="Image Url">
                     </div>
                   </div>  
                          
                   <div class="col-md-12">
                     <div class="col-md-6">
                         <label class="dg-lable" for="imageUrl">Select Image:</label>
                         <label style="color: red;">Recommended Image Size:1280*150</label>
                       <div id="asset-image-container" >
                           <div >
                             <div class="box">
                               <div class="js--image-preview">
                               </div>
                               <div class="upload-options">
                                 <label>                                  
                                     <input #fileWebNtc type="file" accept='image/*' (change)="previewWebNtc(fileWebNtc.files)" />
                                 </label>
                                
                               </div>
                             </div>
                           </div>
                         </div>
   
   
                     </div>
                   </div>
                   <span style="padding: 5px;"></span>
                   <div class="col-md-12">
                       <div class="col-md-3">
                       <img [src]="imgURLWebNtc" height="300" width="500" *ngIf="imgURLWebNtc">
                       </div>
                   </div>    
                 </div>
                 <div class="modal-footer modal-footer-c">
                     <button (click)="clearForm()"[disabled]="AddEditLogo !='Add'" type="button" class="btn btn-default">Reset Fields</button>
                     <button  (click)="onAddAdBanner(4)" type="button" class="btn btn-success bt-c">{{AddEditLogo}} AdBanner</button>
                   </div>
               </form> 
              </mat-tab>
          </mat-tab-group>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div> 