<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar navbar-collapse collapse " style="width: 230px;"  style="width: auto;" >
    <!-- BEGIN SIDEBAR MENU -->
    <!-- <ul class="page-sidebar-menu  page-header-fixed row-scrollable" data-keep-expanded="false" data-auto-scroll="true"
      data-slide-speed="200" style="padding-top: 0px;"> -->

    <ul  class="page-sidebar-menu page-header-fixed row-scrollable" data-keep-expanded="false" data-auto-scroll="true"
      data-slide-speed="200" style="padding-top: 0px; overflow-y: scroll; max-height: 90%;">

      <li class="sidebar-toggler-wrapper">
        <!-- <button (click)="collaps=!collaps">  <i class="fa fa-bars"></i></button> -->
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <!-- <div class="sidebar-toggler"> </div> -->
        <!-- END SIDEBAR TOGGLER BUTTON -->
      </li>
      <ng-container  *ngFor="let menu of sideMenuList">
        <li class="nav-item start" (click)="onRouterLinkClick(menu.path)"
          [ngClass]="{'active open': activeRoute(menu.route)}">
          <a class="nav-link nav-toggle">
            <i class="{{menu.icon}}"></i>
            <span class="title" *ngIf="collaps" >{{menu.title}}</span>
            <span [ngClass]="{'selected': activeRoute(menu.route)}"></span>
          </a>

        </li>
      </ng-container>
      <li class="nav-item" (click)="onSignOut()">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="fa fa-sign-out"></i>
          <span class="title" *ngIf="collaps">Sign Out</span>
        </a>
      </li>

    </ul>
    <!-- END SIDEBAR MENU -->
    <!-- END SIDEBAR MENU -->
  </div>
  <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->