<div class="portlet light bordered" style="margin-top: 20px;">
  <div class="portlet-title">
    <div class="caption font-dark float-l">
      <i class="fa fa-question-circle"></i>
      <span class="caption-subject font-blue bold ">Help/Feedback</span>
  </div>
  </div>

  <div class="portlet-body">
    <div class="mt-element-card mt-card-round" style="margin-top: 20px;">
      <div class="row">
        <div class="panel-group accordion scrollable" id="accordion2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_1"> 1. What are legal paper notices for properties? </a>
              </h4>
            </div>
            <div id="collapse_2_1" class="panel-collapse in">
              <div class="panel-body">
                <p>Legal paper notices of any property are the preliminary step of any property transaction. It mentions main
                  details of the property such as owners name, area of property, location details. It also mentions partners
                  of the property or hypothecation of property. Generally it is published to inform people about the transaction
                  in process and they may approach for any objections concerned authority.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_2"> 2. What does diginotice do? </a>
              </h4>
            </div>
            <div id="collapse_2_2" class="panel-collapse collapse">
              <div class="panel-body">
                <p> Instead of going through all newspapers for notices, diginotice compiles paper notices from newspapers of
                  the city. They are displayed in diginotice in most simplified digital format. The additional option of
                  search notices and asset managers also help to manage the property.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_3"> 3. Do I need to pay for diginotice? </a>
              </h4>
            </div>
            <div id="collapse_2_3" class="panel-collapse collapse">
              <div class="panel-body">
                <p>It’s completely free service. The main wall of diginotice provide you with paper notices published on particular
                  date and you may search through paper notices published on daily basis on app. These notices are published
                  in simplified digital format.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_4">4. How does “SEARCH NOTICES” work? </a>
              </h4>
            </div>
            <div id="collapse_2_4" class="panel-collapse collapse">
              <div class="panel-body">
                <p> The search notices is an important part of diginotice. It facilitates to allow you to search for past notices
                  by filling up the required details. This shortlist the notices corresponding to the filled details.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_5">5. What is ASSET MANAGER? </a>
              </h4>
            </div>
            <div id="collapse_2_5" class="panel-collapse collapse">
              <div class="panel-body">
                <p>ASSET MANAGER works as your personal manager. It works for you even though you don’t check for paper notices
                  daily. Just by filling details of property of which you are the owner or guardian the asset manager notifies
                  you of any proceedings on the saved property.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_6">6. ASSET MANAGER Feature can be used by the owner only?</a>
              </h4>
            </div>
            <div id="collapse_2_6" class="panel-collapse collapse">
              <div class="panel-body">
                <p> No, it is not necessary that you should be the owner to avail the asset manager feature. The caretaker, guardian,
                  agents or even potential buyers can use this feature.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_7">7. How safe is it to upload data on asset manager? </a>
              </h4>
            </div>
            <div id="collapse_2_7" class="panel-collapse collapse">
              <div class="panel-body">
                <p>The servers are highly secured. We have covered all the things to make data safe. The data is also equally
                  important for us.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_8">8. What is source of paper notices?</a>
              </h4>
            </div>
            <div id="collapse_2_8" class="panel-collapse collapse">
              <div class="panel-body">
                <p>The paper notices printed in popular newspapers of the city are the source of the notices.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>