.modal-dialog{
    width: 90%;
}

.modal-title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.modal-body{
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .modal-dialog{
        width: 94%;
    }
    ol{
        padding: 24px;
    }
  }