<body>
  <a
    *ngIf="isShowDownloadLink"
    href="https://diginoticeapp.page.link/Zi7X"
    target="blank"
    class="mobileappFloat"
    style="font-size: 12px"
  >
    <b>Download Mobile App</b>
  </a>
  <!-- BEGIN HEADER -->
  <div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
      <!-- BEGIN LOGO -->
      <div class="page-logo">
        <!-- <a href="javascript:;"> -->
        <a href="https://diginotice.in/">
          <img
            *ngIf="collaps"
            src="assets/images/logo.png"
            alt="logo"
            class="logo-default"
          />
        </a>
        <div style="margin-left: -300px"  *ngIf="isTogglerVisible">
          <div class="toggler" (click)="togglemenu()"  *ngIf="isTogglerVisible">
            <i class="fa fa-bars"></i>
          </div>
        </div>
      </div>

      <!-- END LOGO -->
      <!-- BEGIN RESPONSIVE MENU TOGGLER -->
      <a
        href="javascript:;"
        class="menu-toggler responsive-toggler"
        data-toggle="collapse"
        data-target=".navbar-collapse"
      >
        <i class="fa fa-bars"></i>
      </a>
      <!-- END RESPONSIVE MENU TOGGLER -->
      <!-- BEGIN TOP NAVIGATION MENU -->
      <div
        class="page-logo1"
        *ngIf="this.loggedInUserRoleGuid=='5A684E94-A768-45B7-8A2E-1F3BF22FC8B4' || this.loggedInUserRoleGuid=='52068551-9841-4EBA-BB87-96D0DCBF1595' 
        || this.loggedInUserRoleGuid=='64B4686D-6086-4AD8-AE9C-D4FB4F409588'"
      >
        <!-- <a href="javascript:;"> -->
        <a href="https://diginotice.in/">
          <img
            [src]="this.loggedInUserlogoURL"
            alt="logo"
            class="logo-default1"
          />
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <p style="color: white; margin: 15px 0">
          {{this.loggedInUserBranchName}}&nbsp;&nbsp;({{this.loggedInUserRole}})
        </p>
      </div>
      <div class="top-menu">
        <ul class="nav navbar-nav pull-left"></ul>
        <ul class="nav navbar-nav pull-right">
          <li class="contact-info">
            <a class="contact-number">
              <i class="fa fa-phone"></i
              ><span class="phone-number"> {{contactNumber}} </span>
            </a>
          </li>

          <!-- BEGIN NOTIFICATION DROPDOWN -->
          <li
            class="dropdown dropdown-extended dropdown-notification"
            id="header_notification_bar"
            *ngIf="this.loggedInUserRoleGuid=='5A684E94-A768-45B7-8A2E-1F3BF22FC8B4' || this.loggedInUserRoleGuid=='52068551-9841-4EBA-BB87-96D0DCBF1595' || this.loggedInUserRoleGuid=='64B4686D-6086-4AD8-AE9C-D4FB4F409588'"
          >
            <a
              (click)="goAcknowledge()"
              href="javascript:;"
              class="dropdown-toggle"
              data-toggle="dropdown"
              data-hover="dropdown"
              data-close-others="true"
            >
              <i class="fa fa-bell"></i>
              <span
                *ngIf="(notificationServices.notifications$ | async) !== 0"
                class="badge badge-default"
                >{{ notificationServices.notifications$ | async }}</span
              >
            </a>
          </li>
          <li></li>
          <!-- END NOTIFICATION DROPDOWN -->
          <!-- BEGIN USER LOGIN DROPDOWN -->
          <!-- <li>
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
            dropdownToggle (click)="false">
            <i class="icon-bell" style="color: white; font-size: 2.4rem;"></i><span
              class="badge badge-pill badge-danger"><span
               ></span>
              <ng-template >10</ng-template>
              <ng-template >0</ng-template></span>
          </a>
        </li> -->

          <li class="dropdown dropdown-user">
            <a
              href="javascript:;"
              class="dropdown-toggle"
              data-toggle="dropdown"
              data-hover="dropdown"
              data-close-others="true"
            >
              <img
                class="user-initials-md"
                src="{{accountService.profileImageUrl}}"
              />
              <span class="username username-hide-on-mobile"
                >{{authService.fullName}}</span
              >
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
              <li>
                <a (click)="onRouterLinkClick('./my-profile')">
                  <i class="icon-user"></i> My Profile
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a (click)="onLogoutUser()">
                  <i class="icon-key"></i> Log Out
                </a>
              </li>
            </ul>
          </li>
          <!-- END USER LOGIN DROPDOWN -->
        </ul>
      </div>
      <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
  </div>
  <!-- END HEADER -->
</body>
