.message-lable{
    padding: 0px 20px; 
    text-align: center;
    font-size: 12px; 
    color: #fff;
}

.loader{
    pointer-events: none;
}

.agree-checkbox{
    font-size: 11px;
}

.ng-star-inserted{
    font-size: 11px;
}
