
    span.td-textProperty{
        width: 96px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative; 
        display: inline-block;
    }
