<app-loader *ngIf="isShowLoader"></app-loader>

<!-- BEGIN LOGIN -->
<div class="reset-password-container">
  
  <div class="reset-password-box">
    <div class="text-center">
      <img src="assets/layouts/layout/img/Diginotice2.jpg" alt="logo" />
    </div>
    <div class="lableResetPWd" style="font-size: 20px;">Reset Your Password</div>
   
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="login-f">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="form-group resetPwd">
            <!-- <label class="dg-lable" for="password">New Password:</label> -->
            <input formControlName="password" name="password" class="form-control placeholder-no-fix input-s"
              type="password" autocomplete="off" placeholder="Password" />
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="form-group">
            <!-- <label class="dg-lable" for="confirmPassword">Confirm Password:</label> -->
            <input formControlName="confirmPassword" name="confirmPassword"
              class="form-control placeholder-no-fix input-s" type="password" autocomplete="off"
              placeholder="Confirm Password" />
          </div>
        </div>
        <div class="col-md-12  col-sm-12">
          <div class="form-actions form-actions-c" style="padding: 10px;">
            <button [disabled]="isShowLoader || isPasswordReset" type="submit"
              class="btn red btn-block sgin-btn" >Reset Password</button>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>