<!-- BEGIN CONTAINER -->
<div class="page-container">

  <!-- Top navigation -->
  <topnavbar></topnavbar>

  <!-- BEGIN HEADER & CONTENT DIVIDER -->
  <!-- <div class="clearfix"> </div> -->
  <!-- END HEADER & CONTENT DIVIDER -->

  <!-- Top navigation -->
  <backend-navigation></backend-navigation>

  <!-- Main view/routes wrapper-->
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
      <!-- <div class="row" style="margin-top: 20px;"> -->
      <div class="row">
        <div class="col-md-12 col-sm-12" >
          <router-outlet ></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <!-- END CONTENT BODY -->
  <!-- END CONTENT -->

</div>  
<!-- END CONTAINER -->